{% extends "base.html" %}
{% set mostrar_nav = false %}
{% block titulo %}Entrar{% endblock %}

{% block conteudo %}
<div class="login">
  <h1>gdv</h1>
  <p class="discreto">Painel de geração de vídeos</p>

  {% if erro %}<p class="erro">{{ erro }}</p>{% endif %}

  <form method="post" action="/login" class="formulario">
    <label>
      E-mail
      <input name="email" type="email" autocomplete="username" required autofocus>
    </label>
    <label>
      Senha
      <input name="senha" type="password" autocomplete="current-password" required>
    </label>
    <button class="primario" data-aguardando="entrando…">Entrar</button>
  </form>

  <p class="discreto"><a href="/recuperar">Esqueci minha senha</a></p>
</div>
{% endblock %}
